body {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  background: $color-bg;
  color: $color-fg;
  font: 200 16px/1.5 "Helvetica Neue", "ヒラギノ角ゴシック", sans-serif;
}

canvas {
  image-rendering: pixelated;
}